button {
  background-color: #ffffff;
  border: none;
  color: #000000;
  width: 117px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  margin: 5px 5px 5px 0;
}
